@* Confirmation page header *@
<h3>Thank you for submitting a new movie! Please select a button below.</h3>
<br />
@* Buttons to go to Home or to add another movie *@
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Go to Home</a>
<br /> <br />
<a class="btn btn-primary" asp-controller="Home" asp-action="NewMovies">Add Another Movie</a>
