@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* title and Joels picture *@
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
	<img src="~/pics/joelhiltonheadshot.jpg" />
    <br /><br />
    <a asp-controller="Home" asp-action="MovieList">View Movie List</a>
</div>
