@{
    ViewData["Title"] = "Things Joel does for fun...";
}
<h1>@ViewData["Title"]</h1>

<body>
    @* header *@
    <h2>Did you know Joel does comedy?</h2>

    @* Quick wits description and button *@
    <p>
        You can listen to Joel's hilarious comedy at Quick Wits Comedy where he performs regularly! Located in South Salt Lake, it is the perfect place to get some laughs!
    </p>
    <a href="https://www.qwcomedy.com/" target="_blank">
        <button>Go to Quick Wits Comedy</button>
    </a>
    <br /><br />

    @* Baconsale description and button *@
    <h2>He is also on a podcast: Baconsale</h2>
    <p>
        A family-friendly pop culture podcast. Listen today!
    </p>
    <div>
        <a href="https://baconsale.com/" target="_blank">
            <button>Go to Baconsale</button>
        </a>
    </div>
    <br />
    @* baconsale picture that also goes to baconsale site *@
    <a href="https://baconsale.com/" target="_blank">
	    <img src="~/pics/baconsalekate.jpg" height="500"/>
    </a>
</body>